<div class="text-box">
    <h1>GALLERY</h1>
    <p>
      The college gallery at ACT serves as a vibrant showcase of creativity, talent, and innovation, providing students, faculty, and visitors with a dynamic space to explore the diverse realms of artistic expression. From captivating paintings and sculptures to thought-provoking multimedia installations, the gallery features a rich tapestry of works spanning various mediums and styles. With rotating exhibitions curated by renowned artists and scholars, the gallery serves as a focal point for cultural enrichment and dialogue, fostering a deep appreciation for the arts within the university community. Whether hosting student showcases, faculty exhibits, or visiting artist presentations, the college gallery at ACT embodies a spirit of creativity and collaboration, inspiring all who enter its doors.
    </p>
</div>
<hr>
<div class="body">
  <div class="depts">
    <h2>DEPARTMENTS/CAMPUS</h2>
    <img src="../../assets/Images/seminar.jpg" width="300px" height="250px">
    <img src="../../assets/Images/lab.jpg" width="300px"height="250px">
    <img src="../../assets/Images/sem.jpg" width="300px"height="250px">

  </div>
<br>
  <div class="sport">
    <h2>SPORTS ACTIVITIES</h2>
    <img src="../../assets/Images/sport.jpg" width="300px" height="200px">
    <img src="../../assets/Images/cricket.jpg" width="300px" height="200px">
    <img src="../../assets/Images/bas.jpg" width="300px" height="200px">
  </div>
<br>

  <div class="eve">
    <h2>EVENTS</h2>
    <img src="../../assets/Images/event.jpg" alt="electric go kart" height="300px" width="380px">
    <img src="../../assets/Images/hackathon.png" alt="hackathon" height="300px" width="380px" >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bK7IaVu2Hbo?si=QDEPMzOlFaM7CwxQ" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
<br>

  <div class="al">
    <h2>ALUMNI</h2>
    <img src="../../assets/Images/alumni.jpg" alt="al" width="400px" height="300px">
    <img src="../../assets/Images/al.jpg" alt="alu" width="400px" height="300px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NSicJaOJHG8?si=KU3O7E6QvFf2IEuj" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
    encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  </div>
</div>

