*{
    margin: 0;
    padding: 0;
    
}
.container-fluid{
    /* width: 100% !important; */
    height: 100vh;
    
}
.header{
    min-height: 100px;
    width: 100%; 
    
}
nav{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 30px;
    margin-left: 800px;
    margin-top: 20px;
    margin-bottom: 0px;
    overflow: hidden;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: larger;
    padding-top: 15px;
}
nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    /* position: relative; */
    /* top: -20px; */
    transition: 0.5s;
}
nav a:hover::after{
    width: 100%;
}
