<div class="text-box">
    <img src="../../assets/Images/bgg.jpg">
    <div class="centered">
    <h1 style="color: black;">Top 5th College Of Chennai</h1>
    <p>
      Agni College of Technology, where innovation thrives and excellence
      shines. A beacon of academic brilliance, fostering a culture of growth
      and empowerment. With state-of-the-art facilities and dedicated
      faculty, Agni College of Technology propels students towards
      prosperous futures. Here, knowledge meets opportunity, shaping
      tomorrow's leaders and innovators.
    </p>
    <a href="" class="hero-btn">Visit Us To Know More</a>
    </div>
  </div>

