<div class="home">
    <div class="container-fluid" style="background-color:cadetblue;">
        <h2>ADMISSION</h2>
        <div class="marq">
            <marquee behavior="scroll" direction="left">📚✨Welcome to AGNI COLLEGE OF TECHNOLOGY - Thalambur, Chennai. Admission
                Opening for 2024-25 academic year Register Through our Portel."Unlock your Potential. Join the jouney at ACT"📚✨</marquee>
        </div><br>
        <div class="regi">
            <a href="" class="btn btn-primary hero-btn">Click here for Registration</a>
            <br/><br>
            <a href="" class="btn btn-primary hero-btn">Click here for Track Registration</a>
        </div>
    </div>
    <div class="info">
        <div class="ci">
        <div class="card col-md-2">
        <img src="../../assets/Images/card.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><u>COLLEGE IMAGE</u></h3>
          <p class="card-text"> Agni's commitment to diversity and inclusion is evident in its
            vibrant campus life, featuring numerous student organizations, and
            cultural activities.</p>
        </div>
      </div>
    </div>
    <div class="camp">
        <div class="card col-md-4" style="width: 18rem;">
        <img src="../../assets/Images/sem.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><u>CAMPUS IMAGE</u></h3>
          <p class="card-text"> Seminar Hall stands as a testament to modernity and functionality.
            And that's how the Seminar Hall in Agni College stands.</p>
        </div>
      </div>
    </div>
    <div class="vis">
        <div class="card col-md-4" style="width: 18rem;">
            <iframe width="100%" height="220" src="https://www.youtube.com/embed/873qIUoY_Fs?si=SqxtV1eZS2VgrjTo" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
          <h3 class="card-title"><u>COLLEGE VISUAL</u></h3>
          <p class="card-text"> A short video of Agni College Of Technology in 30 seconds. Let's strike!!</p>
        </div>
      </div>
    </div>
</div>
</div>
<div class="details">
    <div class="card" style="width: 23rem;">
            <div class="card-body">
                <h3 class="card-title" style="background-color: crimson; border: 1px solid black;">COUNSELING CODE:1316</h3>
                <pre>
                    B.E/B.Tech : 4 Years
                    M.E : 2 Years</pre><p>PHONE NUMBER:044-49972900 </p>
            <div class="card-text">
                <div class="row">
                    <div class="col">20+ Years in Experience</div>
                    <div class="col">500+ Offers 2022-2023</div>
                    <div class="col">Over 100+ Recruiters</div><br><br>
                </div>
            </div>
            </div>
        </div>
        <div class="card" style="width: 25rem">
            <iframe width="400" height="280" src="https://www.youtube.com/embed/SfpbvMGGRBw?si=A971kHzUmQbz5s5m" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>           
        </div>
</div>
            
        
    <!-- </div> -->
    <!-- </div>
</div> -->
    
